<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{msg}}

        <h2>{{web.title}}</h2>
        <h2>{{web.url}}</h2>
        <h2>{{number}}</h2>
        <h2>refArra:{{refArra}}</h2>
        <button v-on:click="edit">将web.url修改为谷歌网站</button><br>
        <button @click="edit">简写形式</button><hr>

        回车 <input type="text" @keyup.enter="add(30,60)"><br>

        <hr>
        <p v-show="web.show">控制P段落的显示隐藏</p>
        <button @click="toggle">显示/隐藏</button>

        <hr>
        <!--会直接删除dom，影响性能-->
        <p v-if="web.show">v-if</p> 
        
        <hr>
        <!-- 动态属性绑定 -->
        <h2>动态属性绑定教程</h2>
        <h3>value="baidu.com"</h3>
        <input type="text" value="baidu.com"></input>></input>
        
        <h3>v-bind:value="web.url"</h3>
        <input type="text" v-bind:value="web.url"></input>></input>

        <h3>:value="web.url"</h3>
        <input type="text" :value="web.url"></input>></input>

        <hr>
        <!-- 双向绑定 -->
        <h3>文本框 {{ data.text }}</h3>
        <h3>单选框 {{ data.radio }}</h3>
        <h3>复选框 {{ data.checkbox }}</h3>
        <h3>记住密码 {{ data.remember }}</h3>
        <h3>下拉框 {{ data.select }}</h3>
        <!-- 单向数据绑定 当数据发生改变时, 视图会自动更新. 但用户手动更改 input 的值, 数据不会自动更新 -->
        单向数据绑定 <input type="text" :value="data.text">
        <hr>
        <!-- 
            双向数据绑定 当数据发生改变时, 视图会自动更新. 当用户手动更改 input 的值, 数据也会自动更新
            对于 <input type="text">, v-model 绑定的是 input 元素的 value 属性
         -->
        双向数据绑定 <input type="text" v-model="data.text">
        <hr>
        <!-- 
            复选框
            对于 <input type="checkbox">, v-model 绑定的是 input 元素的选中状态
         -->
        <input type="checkbox" v-model="data.checkbox" value="a">写作
        <input type="checkbox" v-model="data.checkbox" value="b">画画
        <input type="checkbox" v-model="data.checkbox" value="c">运动
        <hr>
        <!-- 记住密码 -->
        <input type="checkbox" v-model="data.remember">记住密码
        <hr>
        <!-- 
            单选框
            对于 <input type="radio">, v-model 绑定的是 input 元素的选中状态
         -->
        <input type="radio" v-model="data.radio" value="1">写作
        <input type="radio" v-model="data.radio" value="2">画画
        <hr>
        <!-- 
            下拉框
            对于 <select>, v-model 绑定的是 select 元素的选中状态
         -->
        <select v-model="data.select">
            <option value="">请选择</option>
            <option value="A">写作</option>
            <option value="B">画画</option>
            <option value="C">运动</option>
        </select>
    </div>

    <script type="module">
        import {createApp,reactive,ref} from './vue.esm-browser.js';
        
        createApp({ 
            setup(){
                // ref 存储单个类型的数据
                const number = ref(10);
                number.value = 20;
                // ref 存储数组
                const refArra = ref([1,2,3]);

                // reactive存储对象
                const web = reactive({
                    title:"VUE编程测试",
                    url:"baidu.com",
                    show:true
                })

                const edit = () => {
                    web.url = "www.google.com"
                }

                const add = (a,b) =>{
                    number.value += a+b;
                }

                const toggle = () =>{
                    web.show = !web.show;
                }

                const data = reactive({
                text: "dengruicode.com", //文本框
                radio: "", //单选框
                checkbox: [], //复选框
                remember: false, //单个复选框-记住密码
                select: "" //下拉框
                })
                
                return {
                    msg:"hello world",
                    edit,
                    add,
                    toggle,
                    web,
                    number,
                    refArra,
                    data,
                }
            }
        }).mount("#app")
    </script>
</body>
</html>